__pycache__
__pycache__/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/
.env
.env_local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.pyre/
.pytype/
cython_debug/
.TODO
.vscode
.ruff*
.pytest*
*.db